.App {
  width: 100%;
  min-height: 100vh;

  background-color: rgb(205, 243, 230);
  border: 1px solid rgb(101, 101, 214);
  border-radius: 5px;
}

.counterBox {
  display: flex;
  align-items: center;
  justify-content: center;
}